body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background-color: #f5f7f4;
  color: #333;
  background-image: url('marsito.jpg'); /* Specifies the image file */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-size: cover; /* Ensures the image covers the entire element */
  background-attachment: fixed; 
}

main {
  max-width: 600px;
  margin: 100px auto;
  padding: 20px;
  text-align: center;
}

h1 {
  font-weight: 500;
}

p {
  line-height: 1.6;
  color: #555;
}

#cursor {
  position: fixed;
  width: 40px;
  height: 40px;
  background-image: url("bubble.png");
  background-size: cover;
  pointer-events: none;
  display: none;
  transform: translate(-50%, -50%);
}
